package pocketlab.security

deny[msg] {
    some key
    val := input.playbook.vars[key]
    contains(lower(key), "password")
    not contains(val, "lookup('hashi_vault'")
    msg := "Hardcoded secrets detected. You must use the Vault AppRole lookup plugin."
}