[server]
http_port = {{ observability_grafana_port }}
http_addr = 0.0.0.0

[paths]
data = {{ observability_base_dir }}/grafana/data
logs = {{ observability_base_dir }}/grafana/logs
plugins = {{ observability_base_dir }}/grafana/plugins
provisioning = {{ observability_base_dir }}/grafana/provisioning